{% extends "helpers/layout.html" %} {% block body %}

<div class="content">
  <div class="container-fluid">
    <hr />
    <div class="content m-60" style="">
      <div id="carouselMainPage" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li
            data-target="#carouselMainPage"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselMainPage" data-slide-to="1"></li>
          <li data-target="#carouselMainPage" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="static/picture/main/sea.jpg"
              class="d-block w-100 main_carousel"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Море</h5>
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="static/picture/main/city.jpg"
              class="d-block w-100 main_carousel"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Город</h5>
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="static/picture/main/street.jpg"
              class="d-block w-100 main_carousel"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Улица</h5>
              <p></p>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselMainPage"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselMainPage"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <hr />
    <a class="link_vk" href="https://vk.com/public210988211">Наша группа ВК</a>
    <hr />

    <div class="contSide m-60">
        <div class="jumbotron js-jumb">
            <h1 class="display-4">Дорогие друзья!</h1>
            <p class="lead">Вячеслав Карпенко</p>
            <hr class="my-4" />
            <p>
                Я рад приветствовать вас на страницах интернет-журнала «Параллели».
                Это в определенной мере ремейк литературно-публицистического журнала
                «Параллели», который издавал Калининградский ПЕН-центр в 2008 – 2016
                годах. В те годы наш журнал стал творческой региональной площадкой, на
                которой российские, литовские и польские писатели публиковали свои
                новые произведения, знакомили читателей с наиболее значимыми событиями
                в культурной жизни стран Балтии, делились своими мыслями по самому
                широкому спектру современной культурной и общественной жизни. В одну и
                ту же реку нельзя войти дважды. Но мы постараемся возродить все
                лучшее, чем отличался журнал «Параллели». Благо дело к этому есть
                много предпосылок. Само геополитическое положение Калининградской
                области предполагает дальнейшее сближение интересов, культурных,
                экономических и других связей с соседними странами. Это сближение
                невозможно без понимания друг друга. Путь к этому пониманию лежит,
                прежде всего, через литературу, искусство - как выразителей души,
                мировоззрения и традиционного уклада нации. Интернет-журнал, в котором
                могут встретиться современные литераторы стран Балтии - прямой путь к 
                взаимопониманию и культурному обмену. Он призван представить трибуну
                для всестороннего общения мыслящим журналистам и философам, для
                которых идея созидания и мирного сотрудничества важнее временных
                амбиций, а правда, историческая и современная, необходимее
                политического лукавства… И, конечно, страницы нашего журнала будут
                открыты молодым авторам, как русским, так и иноязычным. Для этого есть 
                все необходимые условия, а, главное, опыт совместных семинаров и
                мастер-классов в Калининграде и Клайпеде, Гданьске. Так журнал
                «Параллели» широко отмечал 300-летие классика литовской литературы
                Кристионаса Донелайтиса, а Калининградский ПЕН-центр первым напечатал
                параллельное издание на двух языках его поэмы «Времена года»,
                включенной ЮНЭСКО в ряд лучших произведений Европы. Такого рода
                творческие контакты и открытия, поддерживающие взаимный интерес и
                уважение, обязательно будут продолжены. Я уверен, что осуществление
                нашего Проекта станет еще одним импульсом, расширяющим границы
                сотрудничества области, а через нас – и России, с братскими народами
                Евразии и Европейского Союза, создания благоприятного имиджа нашей
                страны через культуру и Слово. Ибо лишь прямой и непредвзятый диалог
                культур и людей способен обеспечить достойное будущее нашей земле.
            </p>
        </div>

       <aside class="sidebar__wrapper">
           <div class="sidebar js-sidebar-event">
               <a href="/event" style="color: #000000;"><h2 class="text-center">События</h2></a>

               <div class="scrolled-conteiner">
                   <div class="testdf">
                       <div class="text-container_1">
                           <img class="event_img"
                                src="static/picture/events/Балтийский_форум_2.jpg" />
                           <p>
                               Балтийский культурный форум <br />
                               В Светлогорске в минувший четверг
                               открылся третий Балтийский культурный форум.
                               Читать продолжение в <a href="/event">событиях</a>
                           </p>
                       </div>
                       <hr>
                       <div class="text-container_1">
                           <img class="event_img"
                                src="static/picture/events/Елена_Чепинога_2.jpg" />
                           <p>
                               Выставка  «Магнетизёр» <br />
                               из цикла «Гофманиана»
                               В экспозиции представлены более 200 работ <br />
                               Можно ознакомиться в <a href="/event">событиях</a>
                           </p>
                       </div>
                       <hr>
                       <div class="text-container_1">
                           <img class="event_img"
                                src="static/picture/events/Конкурс_Куранова1.jpg" />
                           <p>
                               Добавленно новое событие <br />
                               Конкурс миниатюр имени Юрия Куранова <br />
                               Сборник <br />
                               Можно ознакомиться в <a href="/event">событиях</a>
                           </p>
                       </div>
                       <hr>
                       <div class="text-container_1">
                           <img class="event_img"
                                src="https://img1.goodfon.ru/original/1920x1408/8/83/knigi-oblozhki-zakladka-doska.jpg" />
                           <p>
                               Добавленно новое произведение! <br />
                               Обжигающий пламень Победы (2 тома) <br />
                               Сборник <br />
                               Можно ознакомиться в <a href="/our_library">библиотеке</a>
                           </p>
                       </div>
                       <hr>
                       <div class="text-container_1">
                           <img class="event_img"
                                src="https://img1.goodfon.ru/original/1920x1408/8/83/knigi-oblozhki-zakladka-doska.jpg" />
                           <p>
                               Добавленно новое произведение! <br />
                               Игра в четыре руки <br />
                               Автор - Викторас РУДЖЯНСКАС <br />
                               Можно ознакомиться в <a href="/our_library">библиотеке</a>
                           </p>
                       </div>
                   </div>
               </div>
           </div>
           <div class="sidebar">
               <h2 class="text-center mb-2 pt-3">Портал для авторов. Добро пожаловать.</h2>
               <div class="testdf">
                   <div class="text-container_1">
                       У нас появилась возможность добавлять
                       произведения самим пользователям!
                       Заполните все поля и администрация
                       рассмотрит вашу заявку. <a href="/our_library?addComposition=true"> Перейти к заполнению</a>
                       </p>
                   </div>
               </div>
           </div>
       </aside>
    </div>
  </div> 
 

  <hr />
</div>


{% endblock %}
