{% extends "helpers/layout.html" %} {% block body %}

<div class="content">
    <div class="container-cus">
        <h3 class="">Последние книги</h3>
        <hr class="hrDropMLR"/>

        <div class="filterContainer">
            <h4 class="mb-3"><b>Сортировка / Фильтры</b></h4>
            <div class="alert alert-warning" role="alert">
                Для смены фильтра нажмите кноку <b>«‎Сбросить фильтр»</b>.
            </div>
            <form action="/our_library/filter" method="POST">
                <div class="form-group">
                    <label for="sort_sort">Сортировать по дате написания</label>
                    <input type="hidden" id="is_filter_on_date" value="{{is_filter_on_date}}">
                    <select id="sort_date" class="form-control" name='sort_sort' id="sort_sort">
                        <option>Выбрать сортировку:</option>
                        <option>По возрастанию</option>
                        <option>По убыванию</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sort_name">Сортровать по названию</label>
                    <input type="hidden" id="is_filter_on_alphabet" value="{{is_filter_on_alphabet}}">
                    <select id="sort_name" class="form-control" name='sort_name' id="sort_name">
                        <option>Выбрать сортировку:</option>
                        <option>От А ... До Я</option>
                        <option>От Я ... До А</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Применить</button>
                <button class="btn btn-warning ml-1" id="dropFilters">Сбросить фильтр</button>
            </form>
            <hr class="hrDropMLR"/>

        </div>

        <div class="btn btn-success showFilter">
            Показать фильтры
        </div>

        <div class="list-group">
            {% for GG in tasks %}
            <div class="lib_elem">
                <div class="lib_elem_imgs mb4">
                    {% if GG.Link_2 %}
                    <div class="js-modal modal-proizved" id="{{ loop.index }}">
                        <button class="js-close close-button-modal" data-modal-num="{{ loop.index }}">x</button>

                        <div class="modal-proizved__content">
                            <a href="{{url_for('book', Link=GG.Link)}}" class="btn btn-primary btn-lg">{{GG.Link[:-4]}}</a><br />
                            <a href="{{url_for('book', Link=GG.Link_2)}}" class="btn btn-primary btn-lg">{{GG.Link_2[:-4]}}</a>
                        </div>
                    </div>
                    {% endif %}

                    {% if GG.Photo_1 != 'Single_start.png' %}
                    <div class="imgs">
                        <a      {% if not GG.Link_2 %}
                                    href="{{url_for('book', Link=GG.Link)}}"
                                class="lib-elem__link"
                                 {% else %}
                                    data-modal-num="{{ loop.index }}"
                                    class="lib-elem__link js-modal-btn"
                                {% endif %}
                                target="_blank">
                            <img src="static/picture/picture/{{GG.Photo}}" class="lib_elem_smallest_single-img"/>

                            <div class="lib_text_name_book">
                                {{GG.Name_book}}
                                <br/>
                                {{GG.Name}}
                            </div>
                        </a>
                    </div>
                    {% else %}
                    <div class="imgs">
                        <img src="static/picture/picture/{{GG.Photo}}" class="lib_elem_smallest-img"/>
                    </div>
                    {% endif %}
                    {% if GG.Photo_2 != 'Start.png' %}
                    <div class="imgs">
                        <img src="static/picture/picture/{{GG.Photo_2}}" class="lib_elem_biggest-img"/>
                    </div>
                    <div class="imgs">
                        <img src="static/picture/picture/{{GG.Photo_3}}" class="lib_elem_smallest-img"/>
                    </div>
                    {% endif %}
                </div>
                <div class="lib_elem_text">
                    <p class="text-center">{{GG.Coment}}</p>
                    <h5 class="text-center">Дата публикации - {{GG.Date}}</h5>
                </div>
            </div>
            <hr class="hrDropMLR"/>
            {% endfor %}
        </div>

        <h4>Раздел с произведениями пользователей сайта</h4>
        <div class="list-group">
            {% for GG_user in tasks_user %}

            {% endfor %}
        </div>


        <div class="FORM_RAZMEST">
            <a name='create_book'></a>
            <hr class="hrDropMLR">
            <h3 class="text-center mb-4"><b>Разместить произведение</b></h3>


            <form action="/create_task_users" method="POST" enctype=multipart/form-data class="justify-content-center">
                <div class="df jcspe fww">
                    <div class="form justify-content-between mb-3 mt-3 w-100 df fww">
                        <div class=" w-100 f45">
                            <input class="form-control my-control mb-3" type="name" for="Name" name='Name' id="Name"
                                   placeholder="Представьтесь ФИО">
                            <input class="form-control my-control mb-3" type="email" for="Email" name='Email' id="Email"
                                   placeholder="Ваш email">
                            <input class="form-control my-control mb-3" for="Name_book" name='Name_book' id="Name_book"
                                   placeholder="Название произведения">
                            <div class="col custom-file">
                                <input for="Photo" name="Photo" type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Загрузить иллюстрации и
                                    изображения</label>
                            </div>
                            <div class="custom-file mt-3 mb-3">
                                <input for="Link" name="Link" type="file" class="custom-file-input">
                                <label class="custom-file-label" for="customFile">Загрузить текст призведения</label>
                            </div>
                        </div>

                        <div class="form-row justify-content-between mb-3  w-100 f45">
              <textarea maxlength='750' cols='91' rows="5" for="Coment" name='Coment' id="Coment" class="w-100"
                        placeholder="Аннотация"></textarea>

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div for="Type" class="form-check ml-1">
                        <input class="form-check-input" type="radio" name="Type" id="exampleRadios1" value="Книга"
                               checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Книга
                        </label>

                    </div>
                    <div class="form-check ml-3">
                        <input for="Type" class="form-check-input" type="radio" name="Type" id="exampleRadios2"
                               value="Журнал">
                        <label class="form-check-label" for="exampleRadios2">
                            Журнал
                        </label>
                    </div>
                    <div for="Type" class="form-check ml-3">
                        <input class="form-check-input" type="radio" name="Type" id="exampleRadios3"
                               value="Стихотворение">
                        <label class="form-check-label" for="exampleRadios3">
                            Сборник
                        </label>
                    </div>
                    <div for="Type" class="form-check ml-3">
                        <input class="form-check-input" type="radio" name="Type" id="exampleRadios4" value="Сборник">
                        <label class="form-check-label" for="exampleRadios4">
                            Самиздат
                        </label>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary mb-2 mt-2">Добавить</button>
            </form>
            <h5 class="mt-3">Спасибо! Администрация рассмотрит заявку и произведение будет добавлено.</h5>
        </div>
        <hr class="hrDropMLR"/>
    </div>
</div>
{% endblock %}
