{% extends "helpers/layout.html" %} {% block body %}

<div class="content">
  <h3 class="ml-5">Проекты</h3>
  <hr />

  <div id="accordion">
      <div class="card mb-2">
          <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                  <button class="btn btn-link"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne">
                      Пен-центр
                  </button>
              </h5>
          </div>
          <div class="ml-5">
              <div id="collapseOne"
                   class="collapse show"
                   aria-labelledby="headingOne"
                   data-parent="#accordion">
                  <div class="card-body">
                      <img src="https://img1.goodfon.ru/original/1920x1408/8/83/knigi-oblozhki-zakladka-doska.jpg" width="500" height="500" align="left"
                           vspace="5" hspace="5">
                      Региональная общественная организация «Калининградский ПЕН-центр»
                      является неправительственным некоммерческим, добровольным,
                      самоуправляемым объединением профессиональных литераторов и
                      творческих работников. ПЕН-центр создан по рекомендации Исполкома
                      Русского ПЕН-центра в качестве Региональной (областной) общественной
                      организации и утверждён Решением Учредительного собрания его членов
                      в ноябре 2002 года. ПЕН-центр действует на принципах добровольности,
                      самоуправления, равенства членов, гласности, законности, демократии
                      и гуманизма. Целями и задачами ПЕН-центра являются: - всемерное
                      развитие отечественной культуры, широкое распространение ее за
                      рубежом, ознакомление населения со всеми богатствами мировой
                      культуры, участие в различных мероприятиях, способствующих
                      практическому осуществлению этой задачи; - развитие всех форм связей
                      российской литературы и российских писателей с литературами и
                      писателями других стран, содействие всеми доступными средствами, в
                      то числе и с помощью самостоятельных изданий, популяризации
                      произведений российских писателей за рубежом и иностранных писателей
                      в России в интересах мира, взаимопонимания и мирного сотрудничества
                      между народами; - выдвижение на премии, дипломы и иные отличия за
                      достижения в области литературы и за особые успехи в защите права на
                      свободу самовыражения; - оказание помощи членам Русского ПЕН-центра
                      и других национальных центров Международного ПЕН-клуба в их
                      творческой и общественной деятельности; - проведение платных и
                      благотворительных мероприятий - лекций, литературно-художественных
                      вечеров, концертов, фестивалей и других мероприятий, с участием
                      членов Русского и других национальных ПЕН-центров; - привлечение
                      различных учреждений, организаций, предпринимательских структур,
                      создание общественных фондов и иных общественных объединений для
                      осуществления уставных целей и задач. Члены Калининградского
                      ПЕН-центра полностью принимают Хартию Международного ПЕН-клуба,
                      заложенную в основу деятельности организации в 1921 году её
                      основателем Джоном Голсуорси: свобода слова и творчества писателя,
                      художника вне зависимости границ и политической конюнктуры, защита
                      прав и свобод творчества и личности художника в мире.
                  </div>
              </div>
          </div>
      </div>
      <div class="card mb-2">
          <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                  <button class="btn btn-link"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="true"
                          aria-controls="collapseTwo">
                      «Молодое слово
                      Запада России»
                  </button>
              </h5>
          </div>
          <div class="ml-5">
              <div id="collapseTwo"
                   class="collapse show"
                   aria-labelledby="headingTwo"
                   data-parent="#accordion">
                  <div class="card-body">
                      <p style="font-weight: bold; font-size: 12pt">Тип проекта </p>
                      <p>
                          Образовательные и наставнические проекты в области культуры, искусства и креативных индустрий (включая цифровые технологи).
                      </p>
                      <p style="font-weight: bold; font-size: 12pt">Тематическое направление</p>
                      <p>
                          Место силы. Малая родина. Региональная история. Локальная идентичность.
                      </p>
                      <p style="font-weight: bold; font-size: 12pt">География проекта</p>
                      <p>
                          Калининград и районные города Калининградской области: Советск, Черняховск, Балтийск, Зеленоградск, Светлогорск, Гусев,
                          Багратионовск, Славск, Неман, Гвардейск и Полеск.
                          Целевые группы проекта
                          Учащиеся старших классов школ, студенты вузов и колледжей,
                          а также военнослужащие-срочники, читатели и люди, вовлеченные в проект через школы, библиотеки и публичные мероприятия проекта.
                          Прочитать далее вы сможете в этом
                          <a href="static/presentation/Молодое_слово_Запада_России.pdf" download="">
                              файле (при нажатии скачается).
                          </a>
                      </p>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>

{% endblock %}
